<!DOCTYPE html>
<html>
<head>
    <title>SmokeWise Assessment</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="container">

    <h1>Health Assessment</h1>

    <form action="/result" method="POST">

        <p>
            <input type="text" name="name" placeholder="Enter Your Name">
        </p>

        <p>
            <input type="number" name="age" placeholder="Age">
        </p>

        <p>
            <input type="number" name="height" placeholder="Height (cm)">
        </p>

        <p>
            <input type="number" name="weight" placeholder="Weight (kg)">
        </p>

        <p>
            <input type="number" name="cigarettes" placeholder="Cigarettes Per Day">

        <p>
            <input type="number" name="years" placeholder="Years Smoking">
        </p>

        <p>
            <input type="number" name="exercise" placeholder="Exercise Days Per Week">
        </p>

        <button type="submit">
            Analyze Health
        </button>

    </form>

</div>

</body>
</html>
